
[submodule "vendor/plugins/acts_as_favoriteable"]
	path = vendor/plugins/acts_as_favoriteable
	url = git://github.com/pacoguzman/acts_as_favoriteable.git

[submodule "vendor/plugins/ajaxful-rating"]
	path = vendor/plugins/ajaxful-rating
	url = git://github.com/edgarjs/ajaxful-rating.git
[submodule "vendor/plugins/eschaton"]
	path = vendor/plugins/eschaton
	url = git://github.com/yawningman/eschaton.git
[submodule "vendor/plugins/later_dude"]
	path = vendor/plugins/later_dude
	url = git://github.com/clemens/later_dude.git
