<li class="clearfix<%= cycle(nil, " pair") %>" id="favoriter_<%= favoriter.id %>">
  <div class="image"><%= link_to icon_for_profile(favoriter.profile, 'tiny'), profile_path(favoriter.profile), :title => favoriter.login %></div>
  <div class="text"><strong><%= link_to you_or_user_login(favoriter), profile_path(favoriter.profile) %></strong></div>
  <%# TODO desde cuando tiene el favoriteable como favorito %>
  <span class="helpinfo"><%#= time_ago_in_words favorite.created_at %></span>
</li>
