<div id="toolbar">
  <p>
    Distance:
    <span id="toolbar_distance">0.0</span>
    <a id="toggleUnit" href="#" style="float: none;">km</a>
    Draw mode:
    <a id="toggleDrawLine" href="#" style="float: none;">on</a>
    Markers:
    <a id="toggleMarkers" href="#" style="float: none;">off</a>
    Map type:
    <a id="toggleMapType" href="#" style="float: none;">normal</a>
  </p>
</div>
<%= google_map :width => 600, :height => 400, :style => 'border: 1px dashed black; margin: 10px' %>