<% include_javascript "scriptaculous" %>
<% include_javascript "starbox" %>
<% include_stylesheet "starbox" %>

<div class="portlet portletI">
  <h2><span>Rating</span></h2>

  <div id="rating_block">
    <%= render :partial => "shared/rates", :locals => {:rated => rated} %>
    <%= render :partial => "shared/rate_form", :locals => {:rated => rated} %>
  </div>
</div>

<script type="text/javascript">
  //<![CDATA[
<% if logged_in? -%>
  <%= javascript_rating(rated, current_user.rates_simplified_for(rated)) %>
<% else -%>
  <%= javascript_rating(rated) %>
<% end -%>
  //]]>
</script>

